@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Almarai", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #f86e7e;
  --color-dark: #121212;
  --color-surface: #1e1e1e;
  --color-accent: #f86e7e;
  --color-light: #ffffff;
}

@layer base {
  body {
    @apply bg-[#121212] text-white antialiased transition-colors duration-300;
    font-family: 'Almarai', sans-serif;
  }
}
